[init]
	defaultBranch = trunk
[user]
	email = me@kaisei.dev
	name = Kaisei Waki
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
